.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f2f5;
  
    .login_block {
      padding: 40px;
      background-color: white;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      width: 100%;
      max-width: 400px;
  
      h4 {
        margin-bottom: 20px;
        color: #333;
        text-align: center;
      }
  
      form {
        display: flex;
        flex-direction: column;
  
        .MuiTextField-root {
          background-color: #fff;
          border-radius: 4px;
  
          &:not(:last-child) {
            margin-bottom: 16px;
          }
        }
  
        .MuiButton-root {
          margin-top: 20px;
          padding: 10px 0;
          font-size: 16px;
          font-weight: 500;
          letter-spacing: 1px;
          transition: background-color 0.3s ease;
  
          &:hover {
            background-color: #34568b;
          }
        }
  
        p {
          margin-top: -10px;
          margin-bottom: 20px;
        }
  
        h5 {
          margin-top: 20px;
          text-align: center;
          color: #666;
  
          a {
            color: #007bff;
            text-decoration: none;
  
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
  